NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://protect_user:protect_password@127.0.0.1:15432/protect_assistance_db?schema=public"

JWT_SECRET="change_me"
JWT_EXPIRES_IN="1d"

STORAGE_PROVIDER="local"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

FCM_ENABLED="false"
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""